$font-family-base:
  "Inter",
  system-ui,
  -apple-system,
  "Segoe UI",
  Roboto,
  Arial,
  sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

$font-size-text-xs: 12px;
$line-height-text-xs: 18px;

$font-size-text-sm: 14px;
$line-height-text-sm: 20px;

$font-size-text-md: 16px;
$line-height-text-md: 24px;

$font-size-text-lg: 18px;
$line-height-text-lg: 28px;

$font-size-display-xs: 24px;
$line-height-display-xs: 32px;
$letter-spacing-display-xs: 0;

$font-size-display-lg: 48px;
$line-height-display-lg: 60px;
$letter-spacing-display-lg: -0.02em;
